[submodule "MisoOpenGLES/MisoOpenGLES/Static Frameworks/Generics"]
	path = MisoOpenGLES/MisoOpenGLES/Static Frameworks/Generics
	url = git@github.com:misomedia/Objective-C-Generics.git
[submodule "MisoOpenGLES/MisoOpenGLES/Static Frameworks/MisoOpenGLES"]
	path = MisoOpenGLES/MisoOpenGLES/Static Frameworks/MisoOpenGLES
	url = git@github.com:misomedia/OpenGLESTypes.git
[submodule "MisoOpenGLES/MisoOpenGLES/Source/OpenGLESBrush"]
	path = MisoOpenGLES/MisoOpenGLES/Source/OpenGLESBrush
	url = git@github.com:misomedia/OpenGLESBrush.git
[submodule "MisoOpenGLES/MisoOpenGLES/Source/OpenGLESOBJ"]
	path = MisoOpenGLES/MisoOpenGLES/Source/OpenGLESOBJ
	url = git@github.com:misomedia/OpenGLESOBJ.git
[submodule "MisoOpenGLES/Export"]
	path = MisoOpenGLES/Export
	url = git@github.com:misomedia/MisoOpenGLES.git
